
h1{
	background-color:black;
	color:#FF7900;
}
h2{
	background-color:cyan;
	color:red;
}
h3{
	background-color:yellow;
	color:lime;
}
h4{
	background-color:magenta;
	color:lilac;
}
h5{
	background-color:purple;
	color:hot pink;
}
h6{
	background-color:gray;
	color:#FF5349;
}
/*floppy_dorito_fish:3700*/